*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background: #fafafa;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background: #fafafa;
}

/* CALENDAR */
.box-calendar {
    width: 20%;
    height: 600px;
    margin-left: 2.5%;
    float: left;
    display: flex;
    align-content: center !important;
    justify-content: center !important;
	margin-left: 50%;
	margin-top: 25%;
	transform: translate(-50%, -50%);
    
}


.calendar {
    flex: 1;
    height: 100%;
    margin: 0%;
    background: white;
    border-radius: 3px;
    border: 2px solid #f3f3f3;
    border-radius: 10px !important;
}

table{
    border: 1px solid black;
    border-spacing: 10px;
}

.year-content{
    align-content: center;
    justify-content: center;
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 50px;
}

#previewYear {
    font-family: Arial;
    font-size: 20px;
    float: left;
    margin-top: 3%;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 5px;
    color: gray;
}

#previewYear:hover {
    background: #f3f3f3;
    transition: 0.5s;
}

#previewYear::selection {
    background: transparent;
}

#nextYear {
    font-family: Arial;
    font-size: 20px;
    float: left;
    margin-top: 2.5%;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 5px;
    color: gray;
    margin-left: 22.5%;
}

#nextYear:hover {
    background: #f3f3f3;
    transition: 0.5s;
}

#nextYear::selection {
    background: transparent;
}

#previewMonth {
    font-family: Arial;
    font-size: 20px;
    float: left;
    margin-left: 10%;
    margin-top: 5%;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 5px;
    color: gray;
}

#previewMonth:hover {
    background: #f3f3f3;
    transition: 0.5s;
}

#previewMonth::selection {
    background: transparent;
}

#nextMonth {
    font-family: Arial;
    font-size: 20px;
    float: right;
	margin-left: 10%;
    margin-top: 5%;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 5px !important;
    color: gray;
}

#nextMonth::selection {
    background: transparent;
}


#nextMonth:hover {
    background: #f3f3f3;
    transition: 0.5s;
    
}

#month {
    font-family: Arial;
    float: left;
    font-size: 20px;
    margin-left: 30%;
    margin-top: 5%;
    transform: translateX(-50%);
    color: rgba(0,0,0,0.7);
}

#daysCalendar{
    border: 1px solid #e8e8e8 !important;
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
}

#daysCalendar td{
   padding: 10px;
   text-align: center;
   cursor: pointer;
   border: 1px solid #e8e8e8 !important;
}

#daysCalendar th{
    text-align: center;
    color: rgba(0,0,0,0.7);
}

#calendarDays td {
    transition: 0.5s;
}

#calendarDays td:hover {
    background: #f3f3f3;
    transition: 0.5s;
}

#today-day {
    background: #2A2BC2;
    padding: 0px;
    border-radius: 2px;
    color: white;
}

#year {
    color: gray;
    cursor: pointer;
    transition: 0.5s;
    padding: 10px;
    width: 30%;
	float: left;
	margin-left: 22.5%;
    border-bottom: 1px solid lightgray;
}

#year:hover{
    opacity: 0.5;
    transition: 0.5s;
}

.colors-functions{
    border: 1px solid lightgray;
    width: 90%;
    height: 100px;
    border-radius: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
    color: dimgray;
}

#selected-day-info{
    background: #fb8c00;
    width: 20px !important;
    height: 20px !important;
    border-radius: 5px;
    float: left;
    margin-left: 10px;
    margin-right: 5px;
}

#today-day-info {
    background: #2A2BC2;
    width: 20px !important;
    height: 20px !important;
    border-radius: 5px;
    float: left;
    margin-left: 10px;
    margin-right: 5px;
}


/* CALENDAR - FIM */